body {
  font-family: sans-serif;
  background: #101214; /* Darker theme for TV */
  padding: 2rem;
  color: #f0f0f0;
}

#app {
  background: #1C1E22;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 90vh; /* Make the app container fill most of the screen */
  display: flex;
  flex-direction: column;
}

#sdk-container {
  flex-grow: 1; /* Allow container to fill available space */
  overflow: hidden; /* Hide parent overflow */
}

pre {
  border: 1px solid #444;
  width: 100%;
  height: 100%; /* Make pre fill the container */
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box;
  padding: 1rem;
  font-size: 18px;
  /* Remove default browser outline for custom focus style */
  outline: none;
  overflow-y: scroll;
}

/* --- THIS IS THE KEY --- */
/* Add a visual indicator when the <pre> block is focused */
pre:focus {
  border-color: #00AFFF;
  box-shadow: 0 0 10px rgba(0, 175, 255, 0.5);
}